.post {
    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
    }

    &-body {
        width: 80%;
        margin: 2rem auto;
        font-family: 'Montserrat';
        font-weight: 300;
        line-height: 150%;

        h2 {
            margin: 2rem 0 .5rem 0;
            font-family: 'Oswald';
        }

        p {
            margin-top: 1rem;
        }

        #post-btn {
            margin: 4rem auto 8rem auto;
        }
    }
}