.contact-person {
    align-items: center;
    margin-bottom: 50px;
    // margin-right: 50px;

    .person-img {
        height: 280px;
        width: 200px;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &-name {
        position: absolute;
        left: 0px;
        bottom: 10%;
        padding: 5px;
        


        color: $color-white;
        background-color: $color-blue;
    }

    &-info {
        font-family: 'Montserrat';

        p {
            margin: 20px 0px;
        }
    }
}

.form-row {
    margin: 5rem 0;

    .form-info {
        background-color: $color-blue;
        width: 300px;
        font-family: 'Montserrat';
        font-size: 1.3rem;
        font-weight: 300;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
    }

    .form-container {
        form{

            // height: 300px;
            box-shadow: none;

            #name, #email, #msg {
                margin-bottom: 2rem;
                height: 50px;
                width: 100%;
                background-color: $color-black;
                border: none;
                border-bottom: solid 1px $color-blue;
                outline: none;

                color: $color-white;
                font-family: 'Montserrat';
                font-size: 1.3rem;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 5px;
            }

            #msg {
                align-items: flex-end;
                height: 100px;
                margin-top: .5rem;
            }
        }
    }
}

@media (min-width: 1000px) {
    .contact-person {
        display: flex;
    }
}