@import './404';
@import './button';
@import './blogpost';
@import './card';
@import './casedetail';
@import './contact';
@import './curriculum';
@import './footer';
@import './header';
@import './navigation';
@import './page';
@import './section';
@import './studentdetail';
@import './studentFilter';
@import './teampage';