.page-student-detail {

    .student-name {
        font-size: 3rem;
    }

    .interests, strong {
        color: $color-blue;
        text-transform: uppercase;
    }

    .quote {
        font-size: 2rem;
        margin: 2rem 0;
    }

    #student-btn {
        margin-top: 3rem;
    }
}