* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-black;
  min-height: 100vh;
  overflow-x: hidden;

  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;

  color: $color-white;
}

