$color-blue: #044ef4;
$color-green: #00fa9c;
$color-red: #f40404;
$color-black: #1f1f1f;
$color-white: #f9f9f9;

$header-height: 60px;
$spacer: 8px;

// Bootstrap variables
$grid-columns: 12;
$grid-gutter-width: 48px;